* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para a página */
body {
    font-family: "Roboto", sans-serif;
    background-color: #323436;
    color: #fffbfb;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px 50px;
}

img{
    height: 70px;
}

/* Container principal */
.container-principal {
    position: relative;
    height: 300px;
    width: 700px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    /align-items: center;/
}

h1{
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    margin-bottom: 60px;
}

/* Container para os botões */
.botoes {
    color: white;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px
}

/* Estilos dos botões */
.btn-primary {
    background-color: #08a7c4;
    width: 165px;
    height: 48px;
    border: none;
    border-radius: 18px;
    font-size: 17px;
    font-weight: 500;
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}

/* Efeitos dos botões */
.btn-primary:hover {
    background-color: #06798d;
    transform: scale(1.05);
}